div.container-fluid.bg-light.navbar-fixed-bottom
    div.row.color-theme
        div.col-md-6
                p.text-light Partners
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.text-light(href="/develop") 
                            strong Team Time
                    li.nav-item
                        a.nav-link.text-light(href="/develop") 
                            strong Modus Box
                    li.nav-item
                        a.nav-link.text-light(href="/develop") 
                            strong Mojaloop

        //- Second links
        div.col-md-6.mt-2
            p.text-light More  
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        strong WomeninFintech
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        strong Hipipo
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        strong LevelOne
                
        hr
        div.container
            div.row
                div.col-md-12.text-center.text-light &copy; 2020 Copyright:Team Time