div.container-fluid.bg-light.navbar-fixed-bottom
    div.row.color-theme
        div.col-md-4
            p.text-light Partners
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Team Time
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Modus Box
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Mojaloop
        //- Second links
        div.col-md-4.mt-2
            p.text-light More  
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | WomeninFintech
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Hipipo
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | LevelOne
        div.col-md-4
            p.text-light
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Terms and conditions
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Services
        div.container.ml-auto
            div.row
                div.col-md-12.text-center.text-light &copy; Team Time 2020