div.container-fluid.bg-light.navbar-fixed-bottom
    div.row.color-theme
        div.col-md-4.mt-2
            p.text-light Company
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | About Us
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Services
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Terms and conditions

        div.col-md-4.mt-2
            p.text-light Partners
            ul.nav.flex-column
                li.nav-item
                    a.text-light.special(href="/teamtime") 
                        | Team Time
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Modus Box
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Mojaloop

        div.col-md-4.mt-2
            p.text-light More  
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | WomeninFintech
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | Hipipo
                li.nav-item
                    a.nav-link.text-light(href="/develop") 
                        | LevelOne

        div.container.ml-auto
            div.row
                a.col-md-12.text-center.text-light.special(href="/teamtime") &copy; 2020 Copyright