div.container-fluid.bg-light.fixed-bottom
    div.row.color-theme
        div.col-md-6
                p.text-light(style="text-transform: uppercase; font-weight: bold;") Contact
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.text-light(href="#") 075596958849
                    li.nav-item
                        a.nav-link.text-light(href="#") Visit us

        //- Second links
        div.col-md-6
            p.text-light(style="text-transform: uppercase; font-weight: bold;") Inquiry  
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.text-light(href="#") Log a complaint
                li.nav-item
                    a.nav-link.text-light(href="#") Our Services
                
        hr(style="background: #eb612a;")
        div.container
            div.row
                div.col-md-12.text-center.text-light &copy; 2020 Copyright:Team Time