nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand(href='/') OS Save
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
    a.nav-link.ml-auto(href='/develop') Terms and conditions
    a.nav-link.ml-auto(href='/develop') Services
        if user
            a.ml-auto(href="/client/logout") Logout