.col-sm-2.sidebar
    h4.mt-5 MY ACCOUNT
        ul
            li
                a(href='/client/dashboard') Dashboard
            li
                a(href='/deposit') Deposit
            li
                a(href='/develop') Savings
            li
                a(href='/develop') Messages
            li
                a(href='/develop') Manage Account