.col-sm-2.sidebar
    h4.mt-5 MY ACCOUNT
        ul
            li
                a(href='/deposit') Deposit
            li
                a(href='#') Savings
            li
                a(href='#') Messages
            li
                a(href='#') Manage Account