doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title OS Save App
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  
include includes/navbar 
.container-fluid
  .row
    .col-sm-12.login
      .col-sm-12.d-flex.justify-content-around
        .col-sm-6
          img.img-fluid.image-home.planimg(src='./images/bank.png' alt='Responsive image')
          a(href='#')
            button#selectpay.col-sm-4.getstarted Bank
          #bankpay.col-sm-6.login.justify-content-center
            form(method='POST' action='/deposit')
              .form-group
                label(for='amount') Amount
                input#amount.form-control(type='number' name="amount")
              button#bank-transfer-btn.btn.btn-primary.col-sm-12(onclick='return confirm(`You are about to make a deposit, Are you sure?)`)' type='submit') Transfer
        .col-sm-6
          img.img-fluid.image-home.planimg(src='./images/mobilepay.jpg' alt='Responsive image')
          a(href='plan.html')
            button.col-sm-4.getstarted Mobile Money
          .col-sm-6.login.justify-content-center
            form(method='POST' action='deposit')
              .form-group
                label(for='exampleFormControlSelect1') Select your Service Provider
                select#exampleFormControlSelect1.form-control(name='isp')
                  option Select...
                  option MTN
                  option AIRTEL
                  option AFRICELL
              .form-group
                label(for='exampleInputEmail1') Mobile No.
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' name='username')
              .form-group
                label(for='exampleInputPassword1') Amount
                input#exampleInputPassword1.form-control(type='number')
                button.btn.btn-primary.col-sm-12.bank-transfer-btn(type='submit') Transfer