extends layout
block content
    .row
        .col-md-12
            h4.text-center.pt-2 Something great coming up here!

            // ATM Card
            .atm-card
                div.element
                    h4#time Team Time
                    div#stripe
                        h4 56940630690695
                    h5 Tusiime