extends layout
block content
    .row
        .col-md-12
            h4.text-center.pt-2 Please bare with us, Page still under development.
            h4.text-center We promise on your next visit here, It will worth your time. Thank You.

            .atm-card
                div.element
                    h4#time Team Time
                    div#stripe
                        h4 56940630690695
                    h5 Tusiime