extends layout
block content
    .row
        .col-md-12
            h4.text-center.pt-2 This page is still under development! Bare with Us.
            h4.text-center Next time you visit it, we promise it will worth your time. Thank You.

            .atm-card
                div.element
                    h4#time Team Time
                    div#stripe
                        h4 56940630690695
                    h5 Tusiime