extends layout
block content
    .row
        .col-md-12
            h4.text-center.pt-2 This page is still under development!
            h4.text-center Please wait. Thank You.

            .atm-card
                div.element
                    h4#time Team Time
                    div#stripe
                        h4 56940630690695
                    h5 Tusiime