extends layout
block content
    .row
        .col-sm-12
            .row.d-flex.justify-content-around
                .col-sm-6
                    .col-sm-8.homediv
                        div
                            h4 Are you looking for a hustle free Education for your Children?
                            p Start saving with OSEducation System
                    a(href='/plan')
                        button.col-sm-6.getstarted GET STARTED
                .col-sm-4.image-div
                    img.img-fluid.image-home(src='./images/mum2.jpg' alt='Responsive image')
