extends layout
block content
    .row
        .col-sm-12
            .row.d-flex.justify-content-around
                .col-sm-6
                    .col-sm-8.homediv
                        div(style='padding: 40px;')
                            h4 Are you looking for a hustle free Education for your Children?
                            p(style='color: black;') Start saving with OSEducation System
                    a(href='/plan')
                        button.col-sm-6.getstarted GET STARTED
                .col-sm-4.image-div
                    img.img-fluid.image-home(src='./images/mum2.jpg' alt='Responsive image')

    script(src='/js/jquery-3.5.1.slim.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
