doctype html
html(lang="en")
    head
        title OS Save App
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel="stylesheet" href="/styles.css")
        link(rel="stylesheet" href="/card.css")
        style.
            .navbar {
                font-size: 20px;
                text-decoration:bold;
            }
body
    include includes/navbar
    div.msg
        != messages('message', locals)
    .container-fluid
        .row(style="min-height: 80vh;")
            if user 
                include includes/sidebar

            .col-md-10
                block content

    include includes/footer

    script(src='/js/jquery-3.5.1.slim.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
