extends layout
block content
    .row
        .col-sm-12.topright
            a(href='/client/signup')
                button.col-sm-2.getstarted REGISTER
            a(href='/client/login') 
                button.col-sm-2.getstarted LOGIN

        .col-md-12

            .row
                .col-md-12.plans-offered
                    | OUR PLANS
            .row.d-flex.justify-content-around
                .col-sm-2.plans.mx-auto
                    img.img-fluid.image-home.planimg(src='./images/educ.jpg' alt='Responsive image')
                    a(href='/plan')
                        button.col-sm-12.getstarted SCHOOLFEES
                .col-sm-2.plans.mx-auto
                    img.img-fluid.image-home.planimg(src='./images/shopping.jpg' alt='Responsive image')
                    a(href='/plan')
                        button.col-sm-12.getstarted SHOPPING
                .col-sm-2.plans.mx-auto
                    img.img-fluid.image-home.planimg(src='./images/money-coins-finance-cash-savings-pay-buy-loan-wealth.jpg' alt='Responsive image')
                    a(href='/plan')
                        button.col-sm-12.getstarted LOANS &amp; SAVINGS
                .col-sm-2.plans.mx-auto
                    img.img-fluid.image-home.planimg(src='./images/health.jpg' alt='Responsive image')
                    a(href='/plan')
                        button.col-sm-12.getstarted HEALTH