doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel="stylesheet", href="/card.css")
  style.
    body{
    padding: 0;
    margin: 0;
    }
    .homediv{
    border: #0366fc 2px solid;
    border-radius: 12px;
    width: 100%;
    margin-top: 10px;
    color: #0366fc;
    }
    .getstarted{
    background-color: #0366fc;
    width: 100%;
    color: #ffffff;
    border: #0366fc 1px solid;
    padding:10px;
    border-radius: 12px;
    margin-top: 10px;
    }
    .getstarted:hover{
    box-shadow:  5px 10px #77dae6;
    transition: 1s;
    }
    .image-div{
    background-color: #0366fc;
    color: #ffffff;
    border: #0366fc 1px solid;
    padding:10px;
    border-radius: 12px;
    margin-top: 10px;
    }
    .image-home{
    width: 100%;
    }
    .plans{
    margin-top: 100px;
    }
    .planimg{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: #0366fc solid 5px;
    }
    .plans-offered{
    text-align: center;
    color: #0366fc;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    }
    .login{
      background-color:#3493eb;
      color: white;
      border-radius:5px;
    }
.container-fluid
  .row
    .col-sm-12
      nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #0366fc; ')
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='#')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Features
            li.nav-item
              a.nav-link(href='#') Pricing
            li.nav-item
              a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
  .row
    .col-sm-12(style='text-align: right;')
      a(href='/client/signup')
        button.col-sm-2.getstarted REGISTER
      a.btn.login(href='/client/login' role="button" ) LOGIN
      
    .col-md-12
      .atm-card
        div.element
          h4#time Team Time
          div#stripe
            h4 56940630690695
          h5 Queen

      .row
        .col-md-12.plans-offered
          | OUR PLANS
      .row.d-flex.justify-content-around
        .col-sm-2.plans.mx-auto
          img.img-fluid.image-home.planimg(src='./images/educ.jpg' alt='Responsive image')
          a(href='/plan')
            button.col-sm-12.getstarted SCHOOLFEES
        .col-sm-2.plans.mx-auto
          img.img-fluid.image-home.planimg(src='./images/shopping.jpg' alt='Responsive image')
          a(href='/plan')
            button.col-sm-12.getstarted SHOPPING
        .col-sm-2.plans.mx-auto
          img.img-fluid.image-home.planimg(src='./images/money-coins-finance-cash-savings-pay-buy-loan-wealth.jpg' alt='Responsive image')
          a(href='/plan')
            button.col-sm-12.getstarted LOANS &amp; SAVINGS
        .col-sm-2.plans.mx-auto
          img.img-fluid.image-home.planimg(src='./images/health.jpg' alt='Responsive image')
          a(href='/plan')
            button.col-sm-12.getstarted HEALTH
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
