extends layout
block content
    .row
        .col-sm-12
            .row.d-flex.justify-content-around
                h1(style="color: #3493eb; padding: 20px")
                    b Team Time
            .row.d-flex.justify-content-around
                h5   Our team is made of the devoted individuals that saw the development of this product
            .row.d-flex.justify-content-around
                col-3
                    a(href="http://www.linkedin.com/in/mirembe-eva-4136b751" target="_blank") Mirembe Eva
                col-3
                    a(href="http://www.linkedin.com/in/tusiime-emily-queen-7a303963" target="_blank") Tusiime Emily Queen
                col-3
                    a(href="http://www.linkedin.com/in/isaac-ssemugenyi-08a50346" target="_blank") Isaac Ssemugenyi
                col-3
                    a(href="https://123mwanjemike.github.io/portfolio/" target="_blank") Mike Mwanje

