#stripe {
    padding: 0 auto;
    background: black;
    width: 20%;
    height: 101%;
    margin-left: 80px;
    margin-top: -1%;
  }
  
  .elment h4, .element h5{
    position: absolute;
  }
  .element #time{
    position: fixed;
    font-family: sans-serif, roboto;
    left: 0;
    bottom: 10%;
    transform: rotate(90deg);
    font-size: 1rem;
    color: white;
  }
  .element h5{
    top: 30%;
    right: 20%;
    transform: rotate(90deg);
    font-size: 1.5rem;
    color: white;
  }
  
  #stripe h4 {
    top: 30%;
    right: 20%;
    transform: rotate(90deg);
    font-size: 1.5rem;
    color: white;
    letter-spacing: 4px;
  }
  .element {
    border-radius: 15px;
    display: inline-block;
    background: linear-gradient(180deg, rgb(240, 240, 240),blue);
    height: 300px;
    width: 300px;
    font-size: 1px;
    padding: 1px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    animation: skew 5s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: .7;
  }
  
  @keyframes skew {
    0% {
      transform: skew(20deg, 20deg);
    }
    100% {
      transform: skew(-20deg, -20deg);
    }
  }
    
  .atm-card {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .msg {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30%;
    color: orange;
    font-size:1.5rem;
    z-index: 100;
  }
  