body {
  padding: 0;
  margin: 0;
}
.homediv {
  border: #3493eb 2px solid;
  border-radius: 12px;
  width: 100%;
  margin-top: 10px;
  color: #3493eb;
}
.homediv div {
  padding: 40px;
}
.homediv p {
  color: black;
}
.getstarted {
  background-color: #3493eb;
  width: 100%;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.image-div {
  background-color: #3493eb;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
}
.image-home {
  width: 100%;
}
.plans {
  margin-top: 100px;
}
.planimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #3493eb solid 5px;
}
.plans-offered {
  text-align: center;
  color: #3493eb;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}
.login {
  background-color: #3493eb;
  color: white;
  border-radius: 5px;
}

/* Last Css */
.sidebar a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-weight: 500px;
  font-size: 20px;
  overflow-x: hidden;
}
.sidebar a:hover {
  margin-left: 10px;
  transition: all 0.2s linear;
  text-decoration: none;
  color: white;
}
.sidebar ul {
  list-style: none;
}
.sidebar {
  background-color: #3493eb;
  color: white;
}

/* Dashboard */
.homediv {
  border: #3493eb 2px solid;
  border-radius: 12px;
  width: 100%;
  margin-top: 20px;
  color: #3493eb;
}
.image-div {
  background-color: #3493eb;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.image-home {
  width: 100%;
}
.login {
  border: #3493eb solid 2px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 40px;
  color: #3493eb;
}
.planimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #3493eb solid 5px;
}

/* Deposit */
.homediv {
  border: #3493eb 2px solid;
  border-radius: 12px;
  width: 100%;
  margin-top: 20px;
  color: #3493eb;
}
.image-div {
  background-color: #3493eb;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.image-home {
  width: 100%;
}
.login {
  border: #3493eb solid 2px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 40px;
  color: #3493eb;
}
.planimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #3493eb solid 5px;
}

/* index */
.homediv {
  border: #3493eb 2px solid;
  border-radius: 12px;
  width: 100%;
  margin-top: 20px;
  color: #3493eb;
}
.image-div {
  background-color: #3493eb;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.image-home {
  width: 500px;
}

/* login */

.homediv {
  border: #3493eb 2px solid;
  border-radius: 12px;
  width: 100%;
  margin-top: 20px;
  color: #3493eb;
}
.image-div {
  background-color: #3493eb;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.image-home {
  width: 100%;
}
.login {
  border: #3493eb solid 2px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 40px;
  color: #3493eb;
}

/* signup */
.homediv {
  border: #3493eb 2px solid;
  border-radius: 12px;
  width: 100%;
  margin-top: 20px;
  color: #3493eb;
}
.image-div {
  background-color: #3493eb;
  color: #ffffff;
  border: #3493eb 1px solid;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.image-home {
  width: 100%;
}
.login {
  border: #3493eb solid 2px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 40px;
  color: #3493eb;
}

/* Theme */
.color-theme {
  background-color: #3493eb;
}
.main {
  min-height: 80vh;
}
div.p-4 {
  border: 2px solid blue;
  display: inline-block;
  border-radius: 12px;
}
h4 span {
  color: #3493eb;
}
tr {
  background-color: #3493eb;
  color: white;
}

/* Navbar */
nav.navbar.navbar-expand-lg.navbar-dark {
  background-color: #3493eb;
}
a.ml-auto {
  background-color: white;
  border-radius: 12px;
  padding: 10px 20px;
  color: #3493eb;
}

/* Footer */
p.text-light {
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  background: #eb612a;
}
/* .col-sm-12.d-flex.justify-content-around{
    padding: 10;
} */